body
{
  background-color: #74828F;
}

div
{
  border-radius: 5px;
}

.left_col_elem, .right_col_elem
{
  
  width: 200px;
  margin-bottom: 30px;
  background-color: white;
  padding: 5px;
}

ul
{
    list-style:none;
    padding-left: 5px;
}

li
{
  cursor: pointer;
  margin-bottom: 5px;
}

li .level
{
  margin-top: 5px;
  margin-left: 10px;
}

.center_col
{
  background-color: white;
 
  padding: 10px;
  border: 2px solid black;
}

.left_col
{
  float: right;
}

.container_central
{
  margin-top: 20px;
}

.highlight {
    border: 2px dashed red;   
    background-color: lightgrey; 
}

h5
{
  padding-left: 5px;
}

.cube_title
{
  text-align: center;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
